    /*-------------------------
        Top Header Area Start
    --------------------------*/
    .top-header{
        padding: 4px 15px;
        background: #00809E;
        .content{
            display: flex;
            justify-content: space-between;
            overflow: hidden;
            .left-content{
                display: flex;
                .email{
                    margin-right: 20px;
                    color: #fff;
                    i{
                        font-size: 16px;
                        margin-right: 6px;
                    }
                }
                .call{
                    color: #fff;
                    i{
                        font-size: 14px;
                        margin-right: 6px;
                    }
                }
            }
            .right-content{
                display: flex;
                .social-link{
                    display: inline-block;
                    margin-right: 20px;
                    li{
                        display: inline-block;
                        a{
                            font-size: 14px;
                            margin-left: 4px;
                            color: #fff;
                        }
                    }
                }
                .language-selector{ 
                    margin-right: 10px; 
                    display: inline-block;
                    i{
                        color: #fff;
                        font-size: 16px;
                        margin-top: 2px;
                    }
                    .language{
                        border: none;
                        color: #fff;
                        cursor: pointer;
                        background: none;
                        font-size: 14px;
                        option{
                            color: #333;
                        }
                    }
                }
                .sign-log{
                    display: flex;
                    i{
                      font-size: 16px;
                      line-height: 24px;
                      color: #fff;
                      margin-top: 2px;
                      margin-right: 5px;
                    }
                    .links{
                      a{
                        font-size: 14px;
                        line-height: 24px;
                        margin-bottom: 0px;
                        color: #fff;
                      }
                      span{
                        color: #fff;
                        font-size: 14px;
                      }
                    }
                  }
            }
        }
    }
